/* ABOUT */

.aboutH1 {
  margin-top: 175px;
  text-align: center;
  font-size: 3.5em;
  text-shadow: 2px 2px 1px ghostwhite;
}

.aboutH2 {
  margin-bottom: 5%;
  font-family: 'Righteous', cursive;
  font-size: 2.5em;
}

.aboutH3 {
  margin-bottom: 2%;
  text-align: center;
}

.aboutDiv {
  /* margin-top: 150px; */
  margin-bottom: 5%;
  display: flex;
}

.aboutMeDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 4% auto 0;
}

.aboutImage {
  display: block;
  width: 100%;
  background-color: ghostwhite;
  border: 3px solid #333745;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

.peaceSign {
  width: 150px;
  margin-bottom: 5%;
}

.aboutImageDiv {
  width: 47%;
  max-width: 750px;
}

.aboutContextDiv {
  width: 47%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandH1 {
  text-align: center;
  font-size: 4em;
  text-shadow: 2px 2px 1px ghostwhite;
}

.brandDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto 8%;
  text-align: center;
}

.toPortfolioButton {
  background-color: #333745;
  border: 3px solid ghostwhite;
  border-radius: 5px;
  color: ghostwhite;
  font-size: 2.2em;
  margin-top: 12%;
  margin-bottom: 40px;
}

.toPortfolioButton:hover {
  border: 3px solid #333745;
  background-color: ghostwhite;
  color: #333745;
}

.toPortfolioButton:active, .toPortfolioButton:focus {
  border: 3px solid #333745;
  text-decoration: underline;
  background-color: ghostwhite;
  color: #333745;
  box-shadow: none;
  outline: none;
}
