/* HTML */

html {
  position: relative;
  min-height: 100%;
}

/* BODY */

body {
  background: #C5D4E7;
}

/* GENERAL FONTS */



/* HEADER */

#logo {
  width: 100px;
  margin-left: 20%;
}

.logoDiv {
  display: inline-flex;
}

.navbar-brand {
  display: flex;
  margin: 0;
}

.navbar > .container-fluid {
  justify-content: flex-end;
  margin-left: 0;
}

.navbar {
  background-color: #333745;
  border-top: 3px solid ghostwhite;
  border-bottom: 3px solid ghostwhite;
}

.navbar-nav {
  flex-flow: row;
  width: 75%;
  margin-right: 5%;
}

.nav-item {
  margin-right: 5%;
}

.nav-end {
  margin-right: 0;
}

.nav-link {
  font-size: 1.6em;
  color: ghostwhite;
}

.nav-link:hover {
  font-weight: bold;
  color: ghostwhite;
}

.nav-link:visited {
  color: ghostwhite;
}

.nav-link:focus {
  text-decoration: underline;
  font-weight: bold;
  color: ghostwhite;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333745;
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  color: ghostwhite;
  border-top: 1px solid ghostwhite;
  border-bottom: 1px solid ghostwhite;
  padding: 5px;
}

.footerLink {
  margin: 0 3%;
}

.footerIcon {
  width: 35px;
}

h4 {
  margin: 0;
}

/* HOME */

.homeDiv {
  margin-top: 150px;
  margin-bottom: 75px;
}

/* ABOUT */

.aboutDiv {
  margin-top: 150px;
  margin-bottom: 75px;
}

/* PORTFOLIO */

.portfolioDiv {
  margin-top: 150px;
  margin-bottom: 75px;
}

svg {
  width: 75px;
  height: 75px;
}

svg:hover {
  transform: translateY(-10px);
}

p {
  font-weight: bold;
}

/* CONTACT */

.contactDiv {
  margin-top: 150px;
  margin-bottom: 75px;
}

/* ANIMATIONS */



/* MEDIA QUERIES */

  /* MAX WIDTH */

  @media screen and (max-width: 700px) {

    #logo {
      width: 60px;
    }

    .nav-link {
      font-size: 1.2em;
    }

  }

  @media screen and (max-width: 500px) {

      .nav-link {
        font-size: .8em;
      }

  }

  /* MIN WIDTH */

  @media screen and (min-width: 1100px) {

    svg {
      width: 125px;
      height: 125px;
    }

  }
