@import "header.css";
@import "footer.css";
@import "home.css";
@import "about.css";
@import "portfolio.css";
@import "contact.css";

/* HTML */

html {
  position: relative;
  min-height: 100%;
}


/* BODY */

body {
  background: #C5D4E7;
}


/* GENERAL FONTS */


/* MEDIA QUERIES */


  /* MAX WIDTH */

  @media screen and (max-width: 1100px) {

    .projectOne, .projectTwo, .projectThree, .projectFour, .aboutMeDiv {
      flex-direction: column;
    }

    .projectImageDiv, .projectContextDiv, .aboutImageDiv, .aboutContextDiv {
      width: 75%;
      margin: 5% auto;
    }

    .aboutImage {
      width: 80%;
      margin: 0 auto;
    }

  }

  @media screen and (max-width: 800px) {

    .homeContent {
      flex-direction: column;
      align-items: center;
    }

  }

  @media screen and (max-width: 700px) {

    #logo {
      width: 60px;
    }

    .nav-link {
      font-size: 1.2em;
    }

    .resumeButton {
      font-size: 1em;
    }

  }

  @media screen and (max-width: 500px) {

      .nav-link {
        font-size: .8em;
      }

  }


  /* MIN WIDTH */

  @media screen and (min-width: 1100px) {

    svg {
      width: 125px;
      height: 125px;
    }

  }

  @media screen and (min-width: 1400px) {

    .homeImage {
      width: 350px;
    }

  }
