@import "header.css";
@import "footer.css";
@import "home.css";
@import "about.css";
@import "portfolio.css";
@import "contact.css";


/* HTML */

html {
  position: relative;
  min-height: 100%;
}


/* BODY */

body {
  background: #C5D4E7;
  font-family: 'Oswald', sans-serif;
}

hr {
  border-top: 5px solid black;
}


/* SCROLL TO TOP */

#scrollToTopButton {
  cursor: pointer;
  width: 35px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 6px;
  margin-right: 10px;
  z-index: 1;
  border: 3px solid black;
  background-color: ghostwhite;
  display: none;
}

#scrollToTopButton:hover {
  transform: translateY(-3px);
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* MEDIA QUERIES */


  /* MAX WIDTH */

  @media screen and (max-width: 1160px) {

    .homeContent, .contactContent {
      flex-direction: column;
      align-items: center;
    }

    .homeImage {
      width: 350px;
    }

    .contactImage {
      width: 300px;
    }

  }

  @media screen and (max-width: 1100px) {

    .projectOne, .projectTwo, .projectThree, .projectFour, .aboutMeDiv {
      flex-direction: column;
    }

    .projectImageDiv, .projectContextDiv, .aboutImageDiv, .aboutContextDiv {
      width: 80%;
      margin: 5% auto;
      text-align: center;
    }

    .projectLinks {
      margin: 2% auto;
    }

    .aboutImage {
      width: 80%;
      margin: 0 auto;
    }

    .homeH1 {
      font-size: 4em;
      text-shadow: 4px 4px 2px ghostwhite;
    }

  }

  @media screen and (max-width: 800px) {

    .homeImage, .contactImage {
      width: 250px;
    }

  }

  @media screen and (max-width: 768px) {

    .aboutH2 {
      font-size: 1.9em;
    }

  }

  @media screen and (max-width: 700px) {

    #logo {
      width: 60px;
    }

    .nav-link {
      font-size: 1.2em;
    }

    .homeH1 {
      font-size: 3em;
      margin-top: 125px;
      text-shadow: 3px 3px 1px ghostwhite;
    }

    .contactH1, .aboutH1, .portfolioDiv {
      margin-top: 125px;
    }

    .aboutH1, .brandH1, .portfolioH1, .contactH1 {
      font-size: 2.5em;
    }

  }

  @media screen and (max-width: 500px) {

      .nav-link {
        font-size: .8em;
      }

      .homeImage, .contactImage {
        width: 175px;
      }

      .resumeButton, .toContactButton, .toPortfolioButton {
        font-size: 1.3em;
      }

      .homeH1 {
        font-size: 2.5em;
        margin-top: 125px;
      }

      .contactH1, .aboutH1 {
        margin-top: 125px;
      }

      .aboutH1, .brandH1, .portfolioH1, .contactH1 {
        font-size: 2em;
      }

      .projectImageDiv, .projectContextDiv, .aboutImageDiv, .aboutContextDiv {
        width: 95%;

      }

  }


  /* MIN WIDTH */

  @media screen and (min-width: 1100px) {

    svg {
      width: 125px;
      height: 125px;
    }

  }

  @media screen and (min-width: 1400px) {

    .homeImage {
      width: 350px;
    }

    .contactImage {
      width: 300px;
    }

    .homeH1 {
      font-size: 7em;
    }

    .resumeImage {
      width: 300px;
    }

    .projectButtons {
      font-size: 1.5em;
    }

  }
